---
import "../../styles/fadeInAnimation.css";
import operario from "../../assets/operario.webp";
---

<section
  class="flex flex-col-reverse md:flex-row items-center justify-center gap-12 px-[5%] md:px-[100px] mt-[100px] md:mt-[150px] fadeIn mb-[100px]"
>
  <!-- Imagen -->
  <div class="w-full md:w-1/2">
    <div
      class="w-full h-[250px] md:h-[500px] bg-cover bg-center rounded-lg shadow-md"
      style={`background-image: url(${operario.src});`}
    >
    </div>
  </div>
  <!-- Texto y tarjetas -->
  <div class="w-full md:w-1/2 flex flex-col justify-center space-y-6">
    <h2 class="text-3xl md:text-5xl font-black text-azul leading-tight">
      ¿Por Qué Elegirnos?
    </h2>
    <div class="space-y-6">
      <!-- Card -->
      <div class="bg-white shadow-sm rounded-lg p-6 flex items-center gap-6">
        <div
          class="bg-verde text-blanco font-bold text-xl w-20 h-20 rounded-full flex items-center justify-center shadow-md"
        >
          +76%
        </div>
        <p class="text-lg font-medium">Reducción en Tiempos de Entrega</p>
      </div>

      <div class="bg-white shadow-sm rounded-lg p-6 flex items-center gap-6">
        <div
          class="bg-verde text-blanco font-bold text-xl w-20 h-20 rounded-full flex items-center justify-center shadow-md"
        >
          +64%
        </div>
        <p class="text-lg font-medium">Disminución de Costos Operativos</p>
      </div>

      <div class="bg-white shadow-sm rounded-lg p-6 flex items-center gap-6">
        <div
          class="bg-verde text-blanco font-bold text-xl w-20 h-20 rounded-full flex items-center justify-center shadow-md"
        >
          +80%
        </div>
        <p class="text-lg font-medium">Reducción de Problemas en la Carga</p>
      </div>
    </div>
  </div>
</section>
