---
import "../../styles/fadeInAnimation.css";
import operario from "../../assets/operario.webp";
---

<section
  class="flex flex-col-reverse md:flex-row items-center justify-center gap-8 md:gap-12 px-4 md:px-6 lg:px-8 section-spacing fadeIn max-w-container mx-auto"
>
  <!-- Imagen -->
  <div class="w-full md:w-1/2">
    <div
      class="w-full h-[225px] md:h-[360px] lg:h-[405px] bg-cover bg-center rounded-lg shadow-md"
      style={`background-image: url(${operario.src});`}
    >
    </div>
  </div>
  <!-- Texto y tarjetas -->
  <div class="w-full md:w-1/2 flex flex-col justify-center space-y-4">
    <h2 class="text-xl md:text-2xl lg:text-3xl font-black text-azul leading-tight">
      ¿Por Qué Elegirnos?
    </h2>
    <div class="space-y-3">
      <!-- Card -->
      <div class="bg-white shadow-sm rounded-lg p-4 flex items-center gap-3.5">
        <div
          class="bg-verde text-blanco font-bold text-base w-14 h-14 md:w-16 md:h-16 rounded-full flex items-center justify-center shadow-md flex-shrink-0"
        >
          +76%
        </div>
        <p class="text-sm md:text-base font-medium">Reducción en Tiempos de Entrega</p>
      </div>

      <div class="bg-white shadow-sm rounded-lg p-4 flex items-center gap-3.5">
        <div
          class="bg-verde text-blanco font-bold text-base w-14 h-14 md:w-16 md:h-16 rounded-full flex items-center justify-center shadow-md flex-shrink-0"
        >
          +64%
        </div>
        <p class="text-sm md:text-base font-medium">Disminución de Costos Operativos</p>
      </div>

      <div class="bg-white shadow-sm rounded-lg p-4 flex items-center gap-3.5">
        <div
          class="bg-verde text-blanco font-bold text-base w-14 h-14 md:w-16 md:h-16 rounded-full flex items-center justify-center shadow-md flex-shrink-0"
        >
          +80%
        </div>
        <p class="text-sm md:text-base font-medium">Reducción de Problemas en la Carga</p>
      </div>
    </div>
  </div>
</section>
