---
import Title from "../Title/Title.astro";
---

<div class="mt-[100px]">
  <Title title="Nuestra Historia" />
  <section
    class="flex flex-col-reverse md:flex-row items-center justify-center gap-8 px-[5%] py-10"
  >
    <!-- Texto -->
    <div
      id="txt"
      class="w-full md:w-1/2 flex flex-col gap-6 md:gap-8 text-base md:text-lg leading-relaxed"
    >
      <p>
        Transporte Don Juan S.A. es una empresa familiar con amplia experiencia
        en el sector del transporte de cargas. Desde nuestros inicios, nos hemos
        caracterizado por ofrecer un servicio confiable, seguro y eficiente.
      </p>
      <p>
        A lo largo de los años, hemos construido una sólida reputación basada en
        la puntualidad, responsabilidad y el compromiso con nuestros clientes,
        convirtiéndonos en un socio estratégico para sus operaciones logísticas.
      </p>
      <p>
        Contamos con una flota moderna y personal altamente capacitado, lo que
        nos permite garantizar la calidad de nuestros servicios y la
        satisfacción de nuestros clientes.
      </p>
    </div>

    <!-- Imagen -->
    <div
      id="camion"
      class="w-full md:w-1/2 h-[250px] md:h-[500px] bg-nuestraHistoria bg-center bg-cover rounded-lg shadow-md"
    >
    </div>
  </section>
</div>
