---
import Title from "../Title/Title.astro";
---

<div class="mt-[100px]">
  <Title title="Nuestra Historia" />
  <section
    class="flex flex-col-reverse p-[5%] gap-[20px] md:flex-row md:justify-center md:items-center"
  >
    <div
      id="txt"
      class="w-full flex flex-col gap-[10px] md:text-2xl pr-[20px md:gap-[30px]"
    >
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id
        purus sed orci auctor rutrum non quis odio. Aliquam luctus, tortor eget
        bibendum imperdiet, ligula dolor tincidunt tortor, eu scelerisque augue
        diam id turpis.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id
        purus sed orci auctor rutrum non quis odio. Aliquam luctus, tortor eget
        bibendum
      </p>
      <p>
        Nam iaculis, turpis vitae egestas iaculis, quam leo porta quam, sit amet
        viverra eros orci vitae lectus. Vivamus feugiat leo sit amet consequat
        viverra.
      </p>
      <p>
        Donec tincidunt mauris sit amet sem congue facilisis. Fusce non eros et
        est ullamcorper facilisis. Aenean mattis laoreet est eu malesuada.
      </p>
    </div>
    <div
      id="camion"
      class="w-full h-[400px] bg-center bg-nuestraHistoria md:bg-cover md:h-[600px]"
    >
    </div>
  </section>
</div>
