---
// Componente padre
import SobreNosotrosItem from "./SobreNosotrosItem.astro";
import sobreNosotrosImg from "../../assets/SobreNosotros.png";
---

<section
  class="w-full flex flex-col md:flex-row mt-[100px] h-auto md:h-[80vh] px-[5%]"
>
  <!-- Imagen a la izquierda -->
  <div
    class="w-full md:w-1/2 h-[300px] md:h-full bg-center bg-cover"
    style={`background-image: url(${sobreNosotrosImg.src});`}
  >
  </div>

  <!-- Cards a la derecha -->
  <div class="w-full md:w-1/2 flex items-center justify-center">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 w-full h-full">
      <SobreNosotrosItem
        icon="fa-solid fa-shield"
        title="Seguridad"
        text="Ofrecemos seguridad a todos nuestros clientes, brindándoles apoyo y soporte en todo momento."
      />
      <SobreNosotrosItem
        icon="fa-solid fa-bolt"
        title="Velocidad"
        text="Una rápida atención a todos nuestros clientes, eso nos hace diferentes."
      />
      <SobreNosotrosItem
        icon="fa-solid fa-location-pin"
        title="Precisión"
        text="Contamos con seguimiento puntual para garantizar entregas en tiempo y forma."
      />
      <SobreNosotrosItem
        icon="fa-solid fa-headset"
        title="Soporte"
        text="Atención personalizada y acompañamiento constante a cada cliente."
      />
    </div>
  </div>
</section>
