---
const { icon, title, text } = Astro.props;
---

<div
  class="w-full h-auto md:h-[250px] flex flex-col gap-4 border border-[#eeeeee] rounded-lg p-6 shadow-sm transition hover:shadow-md"
>
  <i class={`${icon} text-4xl text-azulClaro`}></i>
  <h3 class="text-xl font-bold">{title}</h3>
  <p class="text-gray-600 text-sm">
    {text}
  </p>
</div>
