---
import SobreNosotrosItem from "./SobreNosotrosItem.astro";
---

<section
  class="w-full h-[auto] flex flex-col md:flex-row md:h-[80vh] px-[5%] mt-[100px]"
>
  <div
    id="bg"
    class="w-full h-1/2 bg-sobreNosotros bg-center bg-cover md:h-full md:w-1/2"
  >
  </div>
  <div id="items" class="w-full h-1/2 md:h-full md:w-1/2">
    <div class="p-[5%] md:flex md:gap-[30px] md:flex-wrap">
      <SobreNosotrosItem
        icon="fa-solid fa-shield"
        title="Seguridad"
        text="Ofrecemos seguridad a todos nuestros clientes, brindandoles apoyo y soporte en todo momento."
      />
      <SobreNosotrosItem
        icon="fa-solid fa-bolt"
        title="Velocidad"
        text="Una rapida atencion a todos nuestros clientes, eso nos hace diferentes."
      />
      <SobreNosotrosItem
        icon="fa-solid fa-location-pin"
        title="Precisión"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id purus sed orci auctor rutrum non quis odio."
      />
      <SobreNosotrosItem
        icon="fa-solid fa-headset"
        title="Soporte"
        text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id purus sed orci auctor rutrum non quis odio."
      />
    </div>
  </div>
</section>
