---

---

<div class="section-spacing">
  <div class="bg-azulClaro/10 p-6 md:p-8 rounded-lg shadow-md max-w-3xl mx-auto px-4 md:px-6 lg:px-8">
    <p
      class="text-gray-700 dark:text-gray-300 text-base md:text-lg lg:text-xl italic leading-relaxed text-center"
    >
      "Gracias a Transporte Don Juan, nuestra carga siempre llega a tiempo y en
      perfectas condiciones. Son un socio estratégico en nuestro negocio."
    </p>
    <p
      class="text-right text-gray-700 dark:text-gray-300 font-medium mt-4 text-sm md:text-base"
    >
      - Juan Pérez, Director Logístico
    </p>
  </div>
</div>
