---
import { Banner } from "../components/banner/Banner";
import Navbar from "../components/navbar/navbar.astro";
import banner from "../assets/CamionNuestrosServicios.png";
import BannerServicios from "../components/banner/BannerServicios/BannerServicios.astro";
import WebLayout from "../layouts/WebLayout.astro";
import { ContactInfo } from "../components/ContactInfo/ContactInfo";
import ServiceBigCard from "../components/ServiceBigCard/ServiceBigCard.astro";
import Contact from "../components/Contact/Contact.astro";
import Footer from "../components/Footer/Footer.astro";
import WhatsAppBtn from "../components/WhatsAppBtn/WhatsAppBtn.astro";
import fondo1 from "../assets/fondoServicios1.webp";
import fondo2 from "../assets/fondoServicio2.webp";
import fondo3 from "../assets/fondoServicios3.webp";
---

<WebLayout title="Servicios | Transportes Don Juan"
  ><Navbar color="black" />
  <Banner background_position="object-center" background_image={banner.src}>
    <BannerServicios />
  </Banner>

  <ContactInfo />
  <div class="my-[40px] flex gap-4 justify-center px-[5%] flex-col md:flex-row">
    <ServiceBigCard
      title="Transporte Nacional"
      img={fondo1.src}
      text={`
       Con Transportes Don Juan podés contar con un servicio de transporte nacional ágil y confiable. Cubrimos todo el país, llevando tus productos de manera segura y eficiente a cualquier rincón de Argentina. Desde Buenos Aires hasta las provincias más alejadas, aseguramos la entrega puntual de tu carga. ¡Cuidamos tu mercancía como si fuera nuestra!
      `}
    />
    <ServiceBigCard
      title="Carga Paletizada"
      img={fondo2.src}
      text={`
       Transportamos tu carga paletizada con total confianza. Sabemos lo importante que es que tus productos lleguen a destino en perfecto estado, por eso brindamos un servicio especializado para este tipo de carga. Con Transportes Don Juan, tu mercadería será manejada con el mayor cuidado, optimizando tiempos y costos. ¡Hacemos que todo llegue a tiempo y sin sorpresas!
 `}
    />
    <ServiceBigCard
      title="Corta y Larga Distancia"
      img={fondo3.src}
      text={`
      Transportamos tu carga paletizada con total confianza. Sabemos lo importante que es que tus productos lleguen a destino en perfecto estado, por eso brindamos un servicio especializado para este tipo de carga. Con Transportes Don Juan, tu mercadería será manejada con el mayor cuidado, optimizando tiempos y costos. ¡Hacemos que todo llegue a tiempo y sin sorpresas!
     `}
    />
  </div>

  <Contact />
  <Footer />
  <WhatsAppBtn />
</WebLayout>
