---
import Image from "astro/components/Image.astro";
import logo from "../../assets/TRANSPORTE(DONJUAN)1.png";
const { color = "light" } = Astro.props;
---

<nav
  class="w-full flex justify-center items-center bg-blanco md:bg-opacity-0 absolute h-[100px] px-[5%]"
>
  <script type="module">
    const burguer = document.getElementById("burguer");
    const ul = document.querySelector("ul");

    burguer?.addEventListener("click", () => {
      ul?.classList.toggle("translate-x-[-120%]");
    });
  </script>
  <div>
    <a href="/">
      <Image
        src={logo}
        alt="Logo de Transportes Don Juan"
        width="356"
        height="100"
        id="logo-transportes-don-juan"
        class="w-[100%]"
      />
    </a>
  </div>
  <div>
    <button id="burguer" class="text-azul text-3xl md:hidden pl-[15px]"
      ><i class="fa-solid fa-align-justify"></i></button
    >
  </div>
  <ul
    class="translate-x-[-120%] md:translate-x-0 absolute flex p-[30px] flex-col transition-all top-[100px] gap-[20px] md:gap-[30px] bg-azulClaro md:bg-opacity-0 md:justify-end md:p-0 w-full text-blanco md:flex-row md:relative md:top-0 md:text-xl"
  >
    <li>
      <a
        class={`${color == "light" ? "text-[#000]" : "text-blanco"} hover:text-azulClaro transition-colors duration-300 t`}
        href="/">Inicio</a
      >
    </li><li>
      <a
        class={`${color == "light" ? "text-[#000]" : "text-blanco"} hover:text-azulClaro transition-colors duration-300 t`}
        href="/Servicios">Servicios</a
      >
    </li><li>
      <a
        class={`${color == "light" ? "text-[#000]" : "text-blanco"} hover:text-azulClaro transition-colors duration-300 t`}
        href="/SobreNosotros">Sobre Nosotros</a
      >
    </li>
    <li>
      <a
        class={`${color == "light" ? "text-[#000]" : "text-blanco"} hover:text-azulClaro transition-colors duration-300 t`}
        href="/Clientes">Clientes</a
      >
    </li>
    <li>
      <a
        class={`${color == "light" ? "text-[#000]" : "text-blanco"} hover:text-azulClaro transition-colors duration-300 t`}
        href="/">Contacto</a
      >
    </li>
  </ul>
</nav>
