---

---

<footer class="bg-azul h-[auto] flex justify-between p-[100px] text-blanco">
  <div>
    <h5 class="text-2xl font-bold text-blanco">Menu</h5>
    <ul>
      <li class="my-3"><a class="border-b" href="">Inicio</a></li>
      <li class="my-3"><a class="border-b" href="">Servicios</a></li>
      <li class="my-3"><a class="border-b" href="">Sobre Nosotros</a></li>
      <li class="my-3"><a class="border-b" href="">Clientes</a></li>
      <li class="my-3"><a class="border-b" href="">Contacto</a></li>
    </ul>
  </div>
  <div>
    <h5 class="text-2xl font-bold text-blanco">Soporte</h5>
    <ul>
      <li class="my-3"><a class="border-b" href="">Contactanos</a></li>
      <li class="my-3"><a class="border-b" href="">Área de Clientes</a></li>
    </ul>
  </div>
  <div>
    <h5 class="text-2xl font-bold text-blanco">Servicios</h5>
    <ul>
      <li class="my-3"><a class="border-b" href="">Carga Paletizada</a></li>
      <li class="my-3"><a class="border-b" href="">Carga General</a></li>
      <li class="my-3">
        <a class="border-b" href="">Corta y Larga Distancia</a>
      </li>
    </ul>
  </div>
  <div>
    <h5 class="text-2xl font-bold text-blanco">Certificaciones</h5>
    <ul>
      <li class="my-3"><a class="border-b" href="">Certificaciones</a></li>
      <li class="my-3"><a class="border-b" href="">Habilitaciones</a></li>
      <li class="my-3"><a class="border-b" href="">Reconocimientos</a></li>
    </ul>
  </div>
  <div>
    <h5 class="text-2xl font-bold text-blanco">Seguros</h5>
    <ul>
      <li class="my-3"><a class="border-b" href="">Robo</a></li>
      <li class="my-3"><a class="border-b" href="">Mercaderia</a></li>
      <li class="my-3"><a class="border-b" href="">Patrimoniales</a></li>
    </ul>
  </div>
</footer>
