---
import ButtonAction from "../Button/ButtonAction.astro";
import { ServiceCardMini } from "../ServiceMiniCard/ServiceCardMini";
import {
  faTruck,
  faRoute,
  faBoxesStacked,
} from "@fortawesome/free-solid-svg-icons";
import Title from "../Title/Title.astro";
---

<section
  style={{
    margin: "100px 0",
  }}
>
  <Title title="Nuestros Servicios" />
  <div
    style={{
      display: "flex",
      flexDirection: "column",
      alignItems: "center",
      margin: "50px 0",
      gap: "20px",
    }}
  >
    <div
      class="flex flex-col md:flex-row px-[5%] mx-[100px] gap-[20px] justify-between w-full"
    >
      <ServiceCardMini
        title="Transporte Nacional"
        description="Servicio de transporte de cargas generales a nivel nacional, con cobertura en las principales rutas del país."
        icon={faTruck}
      />
      <ServiceCardMini
        title="Carga Paletizada"
        description="Especialistas en el transporte de mercadería paletizada, asegurando la integridad de su carga durante todo el trayecto."
        icon={faBoxesStacked}
      />
      <ServiceCardMini
        title="Corta y Larga Distancia"
        description="Servicios de transporte para distancias cortas y largas, adaptándonos a las necesidades específicas de cada cliente."
        icon={faRoute}
      />
    </div>
    <ButtonAction text="Más información" href="" />
  </div>
</section>
