---
const { title, img, text } = Astro.props;
---

<div
  class="h-[550px] w-full flex flex-col p-[10px] gap-[20px] rounded shadow-lg md:flex-row hover:shadow-xl duration-500 ease-in-out my-[100px]"
>
  <div
    id="img"
    class="h-[60%] rounded md:h-full md:w-[40%] md:hover:w-[45%] duration-500 ease-in-out"
    style={{
      backgroundImage: `url(${img})`,
      backgroundSize: "cover",
      backgroundPosition: "center",
    }}
  >
  </div>
  <div
    id="txt"
    class="h-[40%] md:h-full md:w-[60%] md:flex md:flex-col md:justify-center md:gap-[10px]"
  >
    <h3 class="text-2xl font-bold mb-[10px] md:text-3xl">{title}</h3>
    <p class="md:text-xl md:pr-[50px]">
      {text}
    </p>
  </div>
</div>
