---
const { title, img, text } = Astro.props;
---

<div class="w-full max-w-[400px] flex flex-col p-4 gap-4 rounded-lg shadow-lg hover:shadow-xl duration-500 ease-in-out my-6">
  <!-- Imagen -->
  <div
    id="img"
    class="h-[200px] w-full rounded-t-lg bg-cover bg-center"
    style={`background-image: url(${img})`}  
  ></div>

  <!-- Texto -->
  <div id="txt" class="flex flex-col justify-between flex-1 p-4">
    <h3 class="text-2xl font-bold mb-2">{title}</h3>
    <p class="text-base">{text}</p>
  </div>
</div>
